body {
    background-image: linear-gradient(to right, lightblue, rgb(230, 136, 233));
    font-size: 1.5em;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}

h1 {
    margin: auto;
}

div {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 8px;
    min-height: 500px;
    max-width: 550px;
}

ul {
    list-style: none;
}

li {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid darkblue;
    color: darkblue;
    background-color: violet;
    text-align: center;
    opacity: 0.9;
    max-width: 500px;
}

span {
    display: none;
}

.delete {
    float: right;
    background-color: purple;
    text-align: right;    
}

.done {
    float: left;
    background-color: lightgreen;
    text-align: left;
}

li:hover span {
    display: block;
}